includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app/

    level: 5
    ignoreErrors:
            -
                message: '#Method Tymon\\JWTAuth\\JWTGuard\:\:factory\(\) invoked with [0-9]+ parameter\, [0-9]+ required#'
                path: app/Http/Controllers/AuthController.php
